spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/inventory_db
    username: frieda
    password: Frieda@2003
    driver-class-name: org.postgresql.Driver
  application:
    name: product-service

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
server:
  port: 8081


